---
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title="Registro" description="Registro de participante para la carrera" showHeader={false}>
    <h1 class="mb-12 text-2xl leading-tight font-serif italic sm:mb-16 sm:text-4xl">Registro</h1>

    <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSf7lOsnvOxe41iBUYxvaXDGToXGJ3mcbST5fqt0O7veJezXkQ/viewform?embedded=true"
        width="640"
        height="1516"
        frameborder="0"
        marginheight="0"
        marginwidth="0">Cargando…</iframe
    >
</BaseLayout>
